<!DOCTYPE html>
<html>

<head>
    <title>Informe</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/informe.css">

</head>

<body>
    <h2>Informe</h2>

    <div class="table-container">

        <table border="1" class="dataframe informe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>21</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Fecha</th>
      <td>2023-12-01 09:57:32.340174</td>
    </tr>
    <tr>
      <th>Nombre</th>
      <td>Steve</td>
    </tr>
    <tr>
      <th>Nacionalidad</th>
      <td>British</td>
    </tr>
    <tr>
      <th>Correo</th>
      <td>steve@hotmail.com</td>
    </tr>
    <tr>
      <th>Respuesta 1</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 2</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 3</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 4</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>E vs I</th>
      <td>Introversion</td>
    </tr>
    <tr>
      <th>S vs N</th>
      <td>Intuition</td>
    </tr>
    <tr>
      <th>T vs F</th>
      <td>Feeling</td>
    </tr>
    <tr>
      <th>J vs P</th>
      <td>Perception</td>
    </tr>
    <tr>
      <th>Resultado</th>
      <td>ISTJ: The inspector</td>
    </tr>
    <tr>
      <th>Detalle</th>
      <td>Responsible realist. He is reserved and practical, tending to be loyal, orderly and traditional. They are capable, logical, reasonable and effective people. They are clean and orderly and tend to establish procedures. The logical and rational aspect prevails in the ISTJ personality type.</td>
    </tr>
  </tbody>
</table>

    </div>

</body>
</html>
