<!DOCTYPE html>
<html>

<head>
    <title>Informe</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/informe.css">

</head>

<body>
    <h2>Informe</h2>

    <div class="table-container">

        <table border="1" class="dataframe informe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>19</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Fecha</th>
      <td>2023-12-01 08:51:34.650794</td>
    </tr>
    <tr>
      <th>Nombre</th>
      <td>Rigo</td>
    </tr>
    <tr>
      <th>Nacionalidad</th>
      <td>Estadounidense</td>
    </tr>
    <tr>
      <th>Correo</th>
      <td>rigo@hotmail.com</td>
    </tr>
    <tr>
      <th>Respuesta 1</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 2</th>
      <td>Soy de las personas que en las reuniones sociales le encanta hablar e interactuar con otras personas. Hablo con cualquiera y hablo de cualquier tema. Al hablar no me siento incómodo y me siento feliz.</td>
    </tr>
    <tr>
      <th>Respuesta 3</th>
      <td>Soy de las personas que en las reuniones sociales le encanta hablar e interactuar con otras personas. Hablo con cualquiera y hablo de cualquier tema. Al hablar no me siento incómodo y me siento feliz.</td>
    </tr>
    <tr>
      <th>Respuesta 4</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>E vs I</th>
      <td>Introversión</td>
    </tr>
    <tr>
      <th>S vs N</th>
      <td>Intuición</td>
    </tr>
    <tr>
      <th>T vs F</th>
      <td>Sentimiento</td>
    </tr>
    <tr>
      <th>J vs P</th>
      <td>Percepción</td>
    </tr>
    <tr>
      <th>Resultado</th>
      <td>INTJ: El arquitecto</td>
    </tr>
    <tr>
      <th>Detalle</th>
      <td>Planificador conceptual. Muy lógico, creativo y analítico. Buscan la lógica y la teoría en lo que les rodea, tienden al escepticismo e independencia. Suelen tener un alto nivel de rendimiento, este tipo de personalidad tratar de desarrollar perspectivas a largo plazo con determinación y tiene un fuerte sentido de la autoeficacia.</td>
    </tr>
  </tbody>
</table>

    </div>

</body>
</html>
