<!DOCTYPE html>
<html>

<head>
    <title>Informe</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/informe.css">

</head>

<body>
    <h2>Informe</h2>

    <div class="table-container">

        <table border="1" class="dataframe informe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>16</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Fecha</th>
      <td>2023-11-29 13:10:07.020981</td>
    </tr>
    <tr>
      <th>Nombre</th>
      <td>Nathy</td>
    </tr>
    <tr>
      <th>Nacionalidad</th>
      <td>Ecuatoriana</td>
    </tr>
    <tr>
      <th>Correo</th>
      <td>cris_nathy18@hotmail.com</td>
    </tr>
    <tr>
      <th>Respuesta 1</th>
      <td>Soy de las personas que en las reuniones sociales le encanta hablar e interactuar con otras personas. Hablo con cualquiera y hablo de cualquier tema. Al hablar no me siento incómodo y me siento feliz.</td>
    </tr>
    <tr>
      <th>Respuesta 2</th>
      <td>Soy una persona que se enfoca en las cosas y presto mucho atención en los detalles antes de actuar. Mis ideas son muy prácticas.</td>
    </tr>
    <tr>
      <th>Respuesta 3</th>
      <td>Soy una persona bastante empática. Antes de tomar una decisión pienso en cómo le va afectar esto a otras personas.</td>
    </tr>
    <tr>
      <th>Respuesta 4</th>
      <td>Soy una persona que le gusta seguir las reglas y planificar mis acciones paso por paso. Me gusta actuar con cuidado y fijándome en las cosas.</td>
    </tr>
    <tr>
      <th>E vs I</th>
      <td>Extroversión</td>
    </tr>
    <tr>
      <th>S vs N</th>
      <td>Sensación</td>
    </tr>
    <tr>
      <th>T vs F</th>
      <td>Pensamiento</td>
    </tr>
    <tr>
      <th>J vs P</th>
      <td>Juicio</td>
    </tr>
    <tr>
      <th>Resultado</th>
      <td>ESTJ: El director</td>
    </tr>
    <tr>
      <th>Detalle</th>
      <td>Organizador eficiente. Es asertivo y orientado a las reglas. Tiene altos principios y tendencia a hacerse cargo. Son personas que toman decisiones rápidamente, son eficientes y concretas. Tiene una buena predisposición para el pensamiento lógico y estimulan a quienes les rodean para que alcancen sus objetivos.</td>
    </tr>
  </tbody>
</table>

    </div>

</body>
</html>
