<!DOCTYPE html>
<html>

<head>
    <title>Informe</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/informe.css">

</head>

<body>
    <h2>Informe</h2>

    <div class="table-container">

        <table border="1" class="dataframe informe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>20</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Fecha</th>
      <td>2023-12-01 09:22:44.039975</td>
    </tr>
    <tr>
      <th>Nombre</th>
      <td>Pablo Steve</td>
    </tr>
    <tr>
      <th>Nacionalidad</th>
      <td>Ecuatoriana</td>
    </tr>
    <tr>
      <th>Correo</th>
      <td>steve_n55@hotmail.com</td>
    </tr>
    <tr>
      <th>Respuesta 1</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 2</th>
      <td>Soy una persona que no presta mucha atención a los detalles, más me enfoco en lo que sucede alrededor como un todo. Soy firme en mis ideas y conceptos.</td>
    </tr>
    <tr>
      <th>Respuesta 3</th>
      <td>Soy una persona muy lógica y pensativa. No me dejo llevar por los sentimientos al momento de tomar una decisión.</td>
    </tr>
    <tr>
      <th>Respuesta 4</th>
      <td>Soy una persona que le gusta seguir las reglas y planificar mis acciones paso por paso. Me gusta seguir la rutina.</td>
    </tr>
    <tr>
      <th>E vs I</th>
      <td>Introversión</td>
    </tr>
    <tr>
      <th>S vs N</th>
      <td>Intuición</td>
    </tr>
    <tr>
      <th>T vs F</th>
      <td>Sentimiento</td>
    </tr>
    <tr>
      <th>J vs P</th>
      <td>Percepción</td>
    </tr>
    <tr>
      <th>Resultado</th>
      <td>INTJ: El arquitecto</td>
    </tr>
    <tr>
      <th>Detalle</th>
      <td>Planificador conceptual. Muy lógico, creativo y analítico. Buscan la lógica y la teoría en lo que les rodea, tienden al escepticismo e independencia. Suelen tener un alto nivel de rendimiento, este tipo de personalidad tratar de desarrollar perspectivas a largo plazo con determinación y tiene un fuerte sentido de la autoeficacia.</td>
    </tr>
  </tbody>
</table>

    </div>

</body>
</html>
