<!DOCTYPE html>
<html>

<head>
    <title>Informe</title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/informe.css">

</head>

<body>
    <h2>Informe</h2>

    <div class="table-container">

        <table border="1" class="dataframe informe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>18</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Fecha</th>
      <td>2023-11-30 09:41:31.269560</td>
    </tr>
    <tr>
      <th>Nombre</th>
      <td>Cristina</td>
    </tr>
    <tr>
      <th>Nacionalidad</th>
      <td>Ecuatoriana</td>
    </tr>
    <tr>
      <th>Correo</th>
      <td>cris_nathy18@hotmail.com</td>
    </tr>
    <tr>
      <th>Respuesta 1</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 2</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 3</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>Respuesta 4</th>
      <td>En las reuniones sociales generalmente me alejo y prefiero no hablar con nadie. No me gusta socializar y generalmente rechazo las reuniones. Odio tener que hablar con otras personas sobre mi vida personal.</td>
    </tr>
    <tr>
      <th>E vs I</th>
      <td>Introversión</td>
    </tr>
    <tr>
      <th>S vs N</th>
      <td>Sensación</td>
    </tr>
    <tr>
      <th>T vs F</th>
      <td>Pensamiento</td>
    </tr>
    <tr>
      <th>J vs P</th>
      <td>Juicio</td>
    </tr>
    <tr>
      <th>Resultado</th>
      <td>ISTJ: El inspector</td>
    </tr>
    <tr>
      <th>Detalle</th>
      <td>Realista responsable. Es reservado y práctico, tiende a ser leal, ordenado y tradicional.Son personas capaces, lógicas, razonables y eficaces.Son limpias y ordenadas y tienden a establecer procedimientos. El aspecto lógico y racional prevalece en el tipo de personalidad ISTJ.</td>
    </tr>
  </tbody>
</table>

    </div>

</body>
</html>
