<!-- preguntas.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ question.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/preguntas.css' %}">
</head>
<body>

    <div class="logos">
        <div class="logo-global"></div>
        <div class="logo-team"></div>
    </div>

    <h2>{{ question.title }}</h2>

    <form method="post" action="{% url 'get_question_form' user_id=user.id question_id=question.order %}">
        {% csrf_token %}
        <div class="question">
            <p>{{ question.question }}</p>
        </div>
        {{ form.text }}

        {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
        </div>
        {% endfor %}
        <br>
        <div class="microfono" id="microfono">
            <div class="icono microfono-icono"></div>
            <span id="texto-microfono">{{ language.preguntas_microphone }}</span>
        </div>

        <div class="navegacion-contenedor">
            {% if question_last %}
            <a href="{% url 'get_question_form' user_id=user.id question_id=question_last.order %}" class="navegacion anterior">{{ language.preguntas_last_button }}</a>
            {% else %}
            <a href="{% url 'aceptar' user.id %}" class="navegacion anterior">{{ language.preguntas_last_button }}</a>
            {% endif %}
            <input type="submit" class="navegacion siguiente" value="{{ language.preguntas_next_button }}">
        </div>

    </form>

    <script src="{% static 'js/preguntas.js' %}"></script>
</body>
</html>
